<!DOCTYPE html>
<html>
<head>
  <title>SUDOKU</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <table class="table table-responsive">
      <tbody>
        <tr v-for="(row, idx1) in board">
          <td class="table-success" v-for="(col, idx2) in row">
            <input v-model="board[idx1][idx2]" type="text" />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>

    var app = new Vue({
      el: '#app',
      data: {
        board: [[]]
      },
      methods: {
        getBoard() {
          const path = 'http://localhost:5000/board';
          axios
            .get(path)
            .then((res) => {
              this.board = res.data.board;
              console.log(res.data.board);
            })
            .catch((error) => {
              console.error(error);
            });
        },
      },
      created() {
        this.getBoard();
      }
    })
  </script>
</body>
</html>